<Settings>
	<url>http://www.metocimagrappa.it/wd/tabella.html</url>
	<patternRegex>
		Ultimo aggiornamento([\s\S](?!ajaxdate))+[^&gt;]+&gt;(\d+)\/(\d+)\/(\d+)([\s\S](?!ajaxtime))+[^&gt;]+&gt;(\d\d:\d\d:\d\d)([\s\S](?!ajaxcurrentcond))+[^&gt;]+&gt;([^,]+), ([^&lt;]+)([\s\S](?!ajaxtemp))+[^&gt;]+&gt;(\d+(\.\d+)?)([\s\S](?!ajaxhumidity))+[^&gt;]+&gt;(\d+)([\s\S](?!ajaxwind))+[^&gt;]+&gt;((\d+(\.\d+)?)|([^&lt;]+))([\s\S](?!ajaxwinddir))+[^&gt;]+&gt;([^&lt;]+)([\s\S](?!ajaxbaro))+[^&gt;]+&gt;(\d+(\.\d+)?)([\s\S](?!ajaxsolar))+[^&gt;]+&gt;(\d+)([\s\S](?! \d+%))+&gt; (\d+)%([\s\S](?!ajaxuv))+[^&gt;]+&gt;(\d+(\.\d+)?)([\s\S](?!ajaxdew))+[^&gt;]+&gt;(\d+(\.\d+)?)([\s\S](?!ajaxrainratehr))+[^&gt;]+&gt;(\d+(\.\d+)?)([\s\S](?!ajaxapparenttemp))+[^&gt;]+&gt;(\d+(\.\d+)?)([\s\S](?!Altezza neve))+([\s\S](?!&lt;span))+.[^&gt;]+&gt;(\d+(\.\d+)?)
	</patternRegex>
</Settings>